<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>A03</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="calc.js"></script>
</head>

<body>
  <nav class="navbar navbar-primary">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Yashwanth Reddy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/">About Us</a>
          </li>
          <li class="active">
            <a href="calculator" >Calculator</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
          <li>
            <a href="Guestbook">Guestbook</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="header">
    <h1>CALCULATE HERE</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel-header">
          Area Calculator
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group">
                <label for="subject" class="control-label">Enter length in meters</label>
                <input type="text" class="form-control" id="length" placeholder="Enter length" value="0">
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group">
                <label for="subject" class="control-label">Enter breadth in meters</label>
                <input type="text" class="form-control" id="breadth" placeholder="Enter breadth" value="0">
              </fieldset>
            </div>

            <button class="btn btn-primary text-center" onclick="calculateArea()">Calculate</button>
            <div class="col-md-6">
              <fieldset class="form-group">
                <label for="subject" class="control-label">Area in sq.mts</label>
                <input type="text" class="form-control" id="area" placeholder="Result" value="0">
              </fieldset>
            </div>

          </div>
          <!-- /row -->

        </div>
      </div>
      <!-- /panel -->



    </div>
  </div>


</body>

</html>