<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>A03</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-primary">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Yashwanth Reddy</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/">About Us</a>
          </li>
          <li>
            <a href="calculator">Calculator</a>
          </li>
          <li class="active">
            <a href="contact" >Contact</a>
          </li>
          <li>
            <a href="Guestbook">GuestBook</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="header" id="contact">
    <h1>CONTACT US</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel-header">
          You're Always Welcome!
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 address-block">
              <h4>Address:</h4>
              <address>
                Northwest Missouri State University</b>
                800 University Dr,
                <br> Maryville,
                <br> MO 64468, USA
              </address>
              <div class="social-links-list social-block">
                <h4>Look out:</h4>
                <ul class="list-inline list-unstyled social-links-list">
                  <a href="https://www.linkedin.com/in/yashwanth-bommineni-465781158/">
                    <img class="img-circle" src="Linkedin_circle.svg.png" width="50" height="50" />
                  </a>
                  <a href="https://github.com/S531519">
                    <img class="img-circle" src="github-mark.png" width="50" height="50" />
                  </a>
                  <a href="https://bitbucket.org/S531519">
                    <img class="img-circle" src="download.jpg" width="50" height="50" />
                  </a>
                </ul>
              </div>
            </div>
            <div class="col-md-9 contact-form">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <fieldset class="form-group">
                      <label for="name" class="control-label">Name</label>
                      <input type="email" class="form-control" id="name" placeholder="Enter your name">
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset class="form-group">
                      <label for="email" class="control-label">Email Address</label>
                      <input type="text" class="form-control" id="email" placeholder="Enter your email address">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </fieldset>
                  </div>
                </div>
                <fieldset class="form-group">
                  <label for="subject" class="control-label">Subject</label>
                  <input type="email" class="form-control" id="name" placeholder="Enter the main subject">
                </fieldset>
                <fieldset class="form-group">
                  <label for="message" class="control-label">message</label>
                  <textarea name="message" id="message" cols="30" rows="5" placeholder="Enter your message" class="form-control"></textarea>
                </fieldset>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
          <!-- /row -->
        </div>
      </div>
      <!-- /panel -->
    </div>
  </div>
  <footer>
    Yashwanth Reddy Bommineni, email me: S531519@nwmissouri.edu
  </footer>
</body>

</html>