<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>My Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body background="C:\Users\S531519\Downloads\39692069-faded-wallpapers.jpg">
    <nav class="navbar navbar-primary">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Yashwanth Reddy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/">About Us</a>
                    </li>
                    <li>
                        <a href="calculator">Calculator</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li>
                        <a href="Guestbook">GuestBook</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-photo">
                        <img src="C:\Users\S531519\Pictures\me.jpg" alt="" class="img-circle">
                    </div>
                    <h2 class="name">Yashwanth Reddy Bommineni</h2>
                    <p class="name">I am a fresher at Northwest Missouri State University. </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="content">
            <div class="left">
                <section>
                    <header class="section-header">
                        <h4>Currently</h4>
                    </header>
                    <p>
                        I am a new student of the Spring 2018 Batch in MS-Applied Computer Science Program.
                    </p>
                </section>

                <section id="past-section">
                    <header class="section-header">
                        <h4>My Background</h4>
                    </header>
                    <p>
                        I am from Warangal city which is located in Telangana State, India. Warangal was ruled by the Kings of Kakatiyas who were
                        one of the greatest kings in India. Kakatiyas built many beautiful temples of Lord Shiva in their
                        Kingdom as they worship Lord Shiva and the beauty of each temple lies in the detailed sculptures
                        encraved on each of them. I have done my Bachelor's in Electronics and Communication Engineering
                        from Lovely Professional University, Punjab. I have worked as an Intern at Electronics Corporation
                        Of India Limited in the final semester of my Bachelor's.
                    </p>
                </section>

                <section id="future-section">
                    <header class="section-header">
                        <h4>My Plans</h4>
                    </header>
                    <p>
                        I want to work as Software Engineer especially in Database and Network Security. I'm also interested in Project Management
                        which deals with handling team projects and all.
                    </p>
                </section>
            </div>
            <div class="right">
                <aside>
                    <header class="aside-header">
                        <h4>Hobbies and Interests</h4>
                    </header>
                    <p>
                        I love to play all kind of out door sports especially Badminton and Volley Ball and also listening to music is my hobby.
                        I love hanging out with friends which is real fun and One day I want to explore all the places in
                        the United States atleast.
                    </p>
            </div>
            </aside>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Company 2015</p>
    </footer>
    </div>
    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
            (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
</body>

</html>